.h1
{
    display: block;
    margin: auto;
    text-align: center;
}
h3{
    padding-top: 20px;
}
.new
{
    margin: 40px;
    transition: all 0.5s;
    cursor: pointer;
}
.padding
{
    padding-top: 60px;
    padding-left: 30px;
}
.new:hover
{
    margin-top: 0px;
    color: red;
}
